<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taichangkeji.tckj" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />


    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name=".activity.App"
        android:allowBackup="true">
        <activity android:name=".activity.SplashAty" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SecurityAty" />
        <activity android:name=".activity.HealthyAty" />
        <activity android:name=".activity.VideoAty" />
        <activity android:name=".activity.AddMumberAty" />
        <activity android:name=".activity.MeasureAty" />
        <activity android:name=".activity.ZoomImage" />
        <activity android:name=".activity.LoginAty" />
        &lt;!&ndash;//用于sdk中间页显示，包含登录、设备添加、设备操作等页面&ndash;&gt;
        <activity
            android:name="com.videogo.main.EzvizWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>

        &lt;!&ndash; //用于接收网络变化刷新SDK网络状态，接收中间页登录成功消息启动其他界面 &ndash;&gt;
        &lt;!&ndash; <receiver &ndash;&gt;
        &lt;!&ndash; android:name=".receiver.EzvizBroadcastReceiver" &ndash;&gt;
        &lt;!&ndash; android:exported="false" > &ndash;&gt;
        &lt;!&ndash; <intent-filter> &ndash;&gt;
        &lt;!&ndash; <action android:name="com.videogo.action.OAUTH_SUCCESS_ACTION" /> &ndash;&gt;
        &lt;!&ndash; <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> &ndash;&gt;
        &lt;!&ndash; </intent-filter> &ndash;&gt;
        &lt;!&ndash; </receiver> &ndash;&gt;
        <service
            android:name=".service.BackService"
            android:process=":remote" />

        <activity
            android:name=".activity.HistoryAty"
            android:label="@string/title_activity_history" >
        </activity>
    </application>-->

</manifest>
